---
layout: default
title: "Research"
permalink: /research/
author_profile: true
---

{% include base_path %}

{% if site.author.googlescholar %}
<div class="wordwrap">
  You can also find my articles on 
  <a href="{{ site.author.googlescholar }}">my Google Scholar profile</a>.
</div>
{% endif %}

<!-- Define category titles (fallback in case _config.yml not set) -->
{% assign default_publication_category = 
  '{"conference":{"title":"Conference"},
    "under-review":{"title":"Under Review"},
    "to-be-submitted":{"title":"To Be Submitted"}}' 
  | parse_json 
%}

{% if site.publication_category %}
  {% assign publication_category = site.publication_category %}
{% else %}
  {% assign publication_category = default_publication_category %}
{% endif %}

<!-- Desired order of categories -->
{% assign categories_in_order = "conference,under-review,to-be-submitted" | split: "," %}

<!-- Loop through categories -->
{% for category_key in categories_in_order %}
  {% assign posts_in_category = site.publications | where: "category", category_key %}

  {% if posts_in_category.size > 0 %}
    <h2>{{ publication_category[category_key].title }}</h2>
    <hr/>

    {% for post in posts_in_category reversed %}
      {% include archive-single.html %}
    {% endfor %}
  {% endif %}

{% endfor %}
