{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">

    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}

    <!-- Title -->
    <h2 class="archive__item-title" itemprop="headline">
      <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
    </h2>

    <!-- Metadata for Teaching + Publications -->
    {% if post.collection == 'teaching' %}
      <p>
        {{ post.type }},
        <i>{{ post.venue }}</i>,
        {{ post.terms | default: post.date | date: "%Y" }}
      </p>

    {% elsif post.collection == 'publications' %}
      <p>
        Published in <i>{{ post.venue }}</i>,
        {{ post.date | default: "1900-01-01" | date: "%Y" }}
      </p>

    {% elsif post.date %}
      <p class="page__date">
        <strong><i class="fa fa-fw fa-calendar"></i> Published:</strong>
        <time datetime="{{ post.date | date_to_xmlschema }}">
          {{ post.date | date: "%B %d, %Y" }}
        </time>
      </p>
    {% endif %}

    <!-- Summary / excerpt -->
    {% if post.excerpt %}
      <p class="archive__item-excerpt">{{ post.excerpt | markdownify }}</p>
    {% endif %}

    <!-- Flexible citation + links -->
    {% if post.citation %}
      <p>Recommended citation: {{ post.citation }}</p>
    {% endif %}

    <p>
    {% if post.paperurl %}
      <a href="{{ post.paperurl }}">PDF</a>
    {% endif %}
    {% if post.slidesurl %}
      {% if post.paperurl %} | {% endif %}
      <a href="{{ post.slidesurl }}">Slides</a>
    {% endif %}
    {% if post.bibtexurl %}
      {% if post.paperurl or post.slidesurl %} | {% endif %}
      <a href="{{ post.bibtexurl }}">BibTeX</a>
    {% endif %}
    </p>

  </article>
</div>
